* {
    box-sizing: border-box;
  }
  
.topnav {
  overflow: hidden;
  background-color: #333;
  margin:0;
  width:100%;

}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: orange;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
  body
  {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
  }
  
  input[type=text], input[type=number]
  {
    width: 100%;
    padding: 0.5em;
    margin: .5em 1em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position:relative;
  }
  
  input[type=submit] {
    width: auto;
    background-color: green;
    color: white;
    padding: 0.5em;
    display: inline-block;
    margin: .5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position:relative;
  }
  
  input[type=submit]:hover:not(disabled) {
    background-color:rgb(1, 95, 1);
  }
  div.booksform {
    border-radius: .4em;
    background-color: #f2f2f200;
    padding: 1.2em .8em;
    width:90%;
    height:auto;
    position: relative;
  }
  .book {
    border-collapse: collapse;
    width: 85%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 2em;
    clear:both;
    box-shadow:0 .2em .2em .2em #f7f3f3;
  }
  
  .book td, .book th {
    border: .1em solid dodgerblue;
    padding: .2em;
    max-width:15em;
    height:10px;
    overflow:hidden;
  }
  
     
  .book th {
    padding-top: 0.4em;
    padding-bottom: .6em;
    text-align: left;
    background-color: royalblue;
    color: white;
    
  }
  #BookInfo {
    border:none;
    width: 85%;
    margin-left:auto;
    margin-right:auto;
    clear:both;
  }
  #BookInfo td{
    
    padding: .2em;
    max-width:25em;
  }
  @media (max-width: 720px) {
    #HideWhenSmall {
        display: none;
    }
}
 
  .trigger
  {
    background-color:green;
    border: none;
    color: white;
    padding: .5em .5em;
    margin: 2em 2em 2em 2em;
    font-size: 1em;
    cursor: pointer;
    border-radius: .5em;
    width: 6em;
    height:3em;
    position:relative;
    font-size: .8em;
  }
  .trigger:hover
  {
    background-color:rgb(3, 92, 3);
  }
  .Undo
  {
    background-color:orange;
    border: none;
    color: white;
    padding: .5em .5em;
    margin: 2em 4em 2em 2em;
    font-size: 1em;
    cursor: pointer;
    border-radius: .5em;
    width: 6em;
    height:3em;
    position:relative;
    font-size: .8em;
  }
  
  #SearchInput{
    border-top:thin solid  #e5e5e5;
    border-right:none;
    border-bottom:thin solid #e5e5e5;
    border-left:none;
    border-radius:0;
    height:3.6em;
    margin: 2em 0em 2em 0em;
    outline:0;
    padding:.4em 0 .4em .6em; 
    width:183px; 
}
  
#SearchIcon{
    background-color:white;
    height:3em;
    text-align:center;
    width:3em;
    border-top:thin solid  #e5e5e5;
    border-bottom:thin solid #e5e5e5;
    border-right:0;
    border-left:thin solid  #e5e5e5;

}
  
#SearchIcon img{
    margin:4px;
    width:2em; 
}

#SearchOptions
{
  border-top:thin solid  #e5e5e5;
  border-right:thin solid #e5e5e5;
  border-bottom:thin solid #e5e5e5;
  border-left:thin solid #e5e5e5;
  height:3.6em;
  outline:0;
  padding:.4em 0 .4em .6em; 
  margin: 2em 0em 2em 0em;
  border-radius:0;
  width:8em; 
  display:flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
}
#RowAlign
{
  display:flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
  margin-bottom:2em;
  max-width:80%;
}
  #CancelDelete
  {
    background-color:red;
    border: none;
    color: white;
    padding: .5em .5em;
    margin: 2em 2em 2em 2em;
    display: block;
    float:left;
    font-size: 1em;
    cursor: pointer;
    border-radius: .5em;
    width: 4em;
    height:3em;
    position:relative;
    font-size: .8em;
  }
  #DeleteBook
  {
    background-color:dodgerblue;
    border: none;
    color: white;
    padding: .5em .5em;
    margin: 2em 2em 2em 2em;
    display: block;
    float:left;
    font-size: 1em;
    cursor: pointer;
    border-radius: .5em;
    width: 4em;
    height:3em;
    position:relative;
    font-size: .8em;
  }
  .Undo:hover
  {
    background-color:rgb(252, 123, 2);
  }
  .Undo:disabled
  {
    background-color:rgba(131, 125, 120, 0.747);
  }

 
  
     
  .EditButton
  {
    background-color:orange;
    border: none;
    color: white;
    padding: .4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .6em;
    margin: .2em;
    cursor: pointer;
    border-radius: .25em;
    width: 5em;
  }
  .EditButton:hover
  {
    background-color:rgb(228, 149, 2);
  }
       
  .DeleteButton
  {
    background-color:rgba(255, 52, 1, 0.938);
    border: none;
    color: white;
    padding: .4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .6em;
    margin: .2em;
    cursor: pointer;
    border-radius: .25em;
    width: 5em;
  }
  .DeleteButton:hover
  {
    background-color:rgba(202, 41, 1, 0.938);
  }

  .MoreButton
  {
    background-color:rgba(1, 153, 255, 0.938);
    border: none;
    color: white;
    padding: .4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .6em;
    margin: .2em;
    cursor: pointer;
    border-radius: .25em;
    width: 5em;
  }
  .MoreButton:hover
  {
    background-color:rgba(1, 120, 255, 0.938);
  }
  
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width:auto;
    height:auto;
    border-radius: 0.5rem;
}
.close-button {
  width: auto;
  background-color:red;
  color: white;
  padding: 0.5em;
  display: inline-block;
  margin: .5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position:relative;
  font-size:.8em;
  height:auto;
}
.close-button:hover {
    background-color:rgb(172, 2, 2);
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.infomodal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1;

}
.infomodal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width:50%;
  height:auto;
  border-radius: 0.5rem;
  
}
.close-button2 {
  float: right;
  width: 1.5em;
  line-height: 1.5em;
  text-align: center;
  cursor: pointer;
  border-radius: .4em;
  background-color:rgba(255, 52, 1, 0.938);
  color:white;
}
.close-button2:hover {
  background-color:rgba(255, 52, 1, 0.938);
}
.show-infomodal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.DeleteModal1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1;

}
.DeleteModal1-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width:30%;
  height:auto;
  border-radius: 0.5rem;
}

.show-DeleteModal1 {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.close-button3 {
  float: right;
  width: 1.5em;
  line-height: 1.5em;
  text-align: center;
  cursor: pointer;
  border-radius: .4em;
  background-color:rgba(255, 52, 1, 0.938);
  color:white;
}
.close-button3:hover {
  background-color:rgba(255, 52, 1, 0.938);
}

.errormsg
{
  font-size: .8em;
  color:red;
  }

  label
  {
    font-size:.8em;
  }


  #Booksperpage
  {
    position: absolute;
    width: 300px;
    height: 200px;
   margin-left:20%;    
  }
  select
  {
    background-color: rgba(13, 159, 243, 0); 
    border: thin solid #e5e5e5; 
    color:black;
    padding:0.5em 1em;
    cursor: pointer; 
    height:2.5em;
    width:5em; 
    margin:.2em;
    
  }
  
  .DeleteMultiple
  {
    background-color:red;
    border: none;
    color: white;
    padding: .5em .5em;
    margin: 2em 2em 2em 4em;
    display: block;
    float:left;
    font-size: 1em;
    cursor: pointer;
    border-radius: .5em;
    width: 6em;
    height:3.2em;
    position:relative;
    font-size: .8em;
  }
   
  
  .DeleteMultiple:hover
  {
    background-color:rgb(173, 6, 6);
  }
  .PageButton button {
    background-color: rgba(13, 159, 243, 0); /* Green background */
    border: .1em solid rgb(14, 13, 13); /* Green border */
    border-radius:0.2em;
    color: black; /* White text */
    padding:0.5em 1em;/* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin:.2em;
   
    
  }
  
  /* Clear floats (clearfix hack) */
  .PageButton:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .PageButton:disabled {
  background-color: black;
  }
  
   
  
  /* Add a background color on hover */
  .PageButton button:hover:not([disabled]) {
    background-color:  rgba(146, 155, 155, 0.411);
  }
   
  #GotoInput{
    border-top:thin solid  #e5e5e5;
    border-right:thin solid #e5e5e5;
    border-bottom:thin solid #e5e5e5;
    border-radius: 0;
    border-left:thin solid  #e5e5e5;
    margin-right:0;
    height:2.5em;
    outline:0;
    padding:.4em 0 .4em .6em; 
    width:4em;
  }
  #PaginationElements {
    border:none;
    width: 10em;
    clear:both;
  }
  
  #PaginationElements td{
   
    padding: .2em;
    max-width:15em;
  }
  #GotoInputsubmit
  {
    width: 3em;
    height:2.5em;
    background-color:dodgerblue;
    color: white;
    padding: 0.5em;
    border: none;
    border-radius: 0;
    margin-left:0;
    cursor: pointer;
    position:relative;
  }