select
{
  margin:2em 8em 2em 8em;
  display: block;
  
}


.PageButton button {
  background-color: rgb(13, 86, 243); /* Green background */
  border: .1em solid rgb(10, 10, 10); /* Green border */
  border-radius:0.2em;
  color: white; /* White text */
  padding:0.5em 1em;/* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-top:2.5em;
  
}

/* Clear floats (clearfix hack) */
.PageButton:after {
  content: "";
  clear: both;
  display: table;
}

.PageButton button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
.PageButton button:first-child {
  margin-left:20em;
  
 }
 

/* Add a background color on hover */
.PageButton button:hover {
  background-color:  rgba(13, 86, 243, 0.89);
}
 
