select
{
  background-color: rgba(13, 159, 243, 0); 
  border: thin solid #e5e5e5; 
  color:black;
  padding:0.5em 1em;
  cursor: pointer; 
  height:2.5em;
  width:5em; 
  margin:.2em;
  
}

.DeleteMultiple
{
  background-color:red;
  border: none;
  color: white;
  padding: .5em .5em;
  margin: 2em 2em 2em 4em;
  display: block;
  float:left;
  font-size: 1em;
  cursor: pointer;
  border-radius: .5em;
  width: 6em;
  height:3.2em;
  position:relative;
  font-size: .8em;
}
 

.DeleteMultiple:hover
{
  background-color:rgb(173, 6, 6);
}
.PageButton button {
  background-color: rgba(13, 159, 243, 0); /* Green background */
  border: .1em solid rgb(14, 13, 13); /* Green border */
  border-radius:0.2em;
  color: black; /* White text */
  padding:0.5em 1em;/* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin:.2em;
 
  
}

/* Clear floats (clearfix hack) */
.PageButton:after {
  content: "";
  clear: both;
  display: table;
}

.PageButton:disabled {
background-color: black;
}

 

/* Add a background color on hover */
.PageButton button:hover:not([disabled]) {
  background-color:  rgba(146, 155, 155, 0.411);
}
 
#GotoInput{
  border-top:thin solid  #e5e5e5;
  border-right:thin solid #e5e5e5;
  border-bottom:thin solid #e5e5e5;
  border-radius: 0;
  border-left:thin solid  #e5e5e5;
  margin-right:0;
  height:2.5em;
  outline:0;
  padding:.4em 0 .4em .6em; 
  width:4em;
}
#PaginationElements {
  border:none;
  width: 10em;
  clear:both;
}

#PaginationElements td{
 
  padding: .2em;
  max-width:15em;
}
#GotoInputsubmit
{
  width: 3em;
  height:2.5em;
  background-color:dodgerblue;
  color: white;
  padding: 0.5em;
  border: none;
  border-radius: 0;
  margin-left:0;
  cursor: pointer;
  position:relative;
}