select
{
  background-color: rgba(13, 159, 243, 0); 
  border: .1em solid rgb(14, 13, 13); /* Green border */
  border-radius:0.2em;
  color: black; /* White text */
  padding:0.5em 1em;/* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin:.2em;
  
}


.PageButton button {
  background-color: rgba(13, 159, 243, 0); /* Green background */
  border: .1em solid rgb(14, 13, 13); /* Green border */
  border-radius:0.2em;
  color: black; /* White text */
  padding:0.5em 1em;/* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin:.2em;
 
  
}

/* Clear floats (clearfix hack) */
.PageButton:after {
  content: "";
  clear: both;
  display: table;
}

.PageButton:disabled {
background-color: black;
}

 

/* Add a background color on hover */
.PageButton button:hover:not([disabled]) {
  background-color:  rgba(146, 155, 155, 0.411);
}
 
#GotoInput{
  border-top:thin solid  #e5e5e5;
  border-right:thin solid #e5e5e5;
  border-bottom:0;
  border-left:thin solid  #e5e5e5;
  box-shadow:0px 1px 1px 1px #e5e5e5;
  float:left;
  height:auto;
  
 
  outline:0;
  padding:.4em 0 .4em .6em; 
  width:40%;
}
#PaginationElements {
  border:none;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  clear:both;
  

}

#PaginationElements td{
 
  padding: .2em;
  max-width:15em;
}
#GotoInputsubmit
{
  width: 5em;
  background-color:dodgerblue;
  color: white;
  padding: 0.5em;
  display: inline-block;
  margin: .5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position:relative;
}